<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta charset="utf-8">
		<!-- Title-->
		<title>Innovation Factory</title>
		<!-- Google Fonts  
        ================================================== -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:300,500,400,700' rel='stylesheet' type='text/css'>
		<!-- Load CSS 
        ================================================== -->
		<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
		<link href="/lib/animate.css/animate.min.css" rel="stylesheet" type="text/css"/>
		<link href="/lib/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css"/>
		<!--Pretty photo-->
		<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
		<!-- Your Work -->
		<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
		<!-- Color panel -->
		<link href="css/color_panel.css" rel="stylesheet" type="text/css" />
		<!-- Main Style -->
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/responsive.css" rel="stylesheet" type="text/css" />
		<!-- Default Color Scheme -->
		<link href="css/color-schemes/red.css" id="changeable-colors" rel="stylesheet" type="text/css" />
		<!-- /.CSS Ends -->
	</head>
<body>
<!-- PAGE LOADER -->
<!--<div id="pageloader">
	<div class="loader-item"></div>
</div>-->
<!-- NAVIGATION MENU -->
<div id="navigation-menu">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="/#">I F</a>
				<p>Inovation Factory</p> 
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#navigation-menu"  class="scroll">HOME</a></li>
					<li><a href="#we-are" class="scroll">QUEM SOMOS</a></li>
					<li><a href="#contact" class="scroll">NEWSLETTER</a></li>
				</ul>
			</div>
		<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</div><!-- /.NAVIGATION MENU -->

<!-- TEXT SLIDER -->
<div class="text-slider parallaxbg">
	<div class="pattern-overlay"></div>
	<div class="slider-container">
		<div class="home-text-slider slider-text owl-carousel owl-theme animated" data-animation="fadeInUp" data-animation-delay="300">
			<!-- SLIDE ITEM-1 -->
			<div class="item">
				<h3><span class="color">AJUDANDO</span> A CRIAR</h3>
				<p>AJUDAMOS ALUNOS A TRANSFORMAR SUAS IDÉIAS EM REALIDADES.</p>
			</div>
			<!-- SLIDE ITEM-2 -->
			<div class="item">
				<h3><span class="color">ENSINANDO</span> PROGRAMAÇÃO</h3>
				<p>FIQUE POR DENTRO DAS ÚLTIMAS TENDÊNCIAS DO SETOR E APRENDA NA PRATICA.</p>
			</div>
		</div>
		<div class="scroll-down">
			<a href="#we-are" class="scroll"><i class="fa fa-angle-double-down"></i></a>
		</div>
	</div>
</div><!-- /.TEXT SLIDER -->

<!--WE ARE SECTION-->
<section id="we-are">
	<div class="container">
		<div class="row">
			<!--SECTION TITLE-->
			<div class="col-md-12 title">
				<h2 class="animated" data-animation="fadeInDown" data-animation-delay="300">Somos a IF</h2>
				<h1 class="animated" data-animation="fadeInDown" data-animation-delay="300">Programadores e Empreendedores</h1>
				<p class="animated" data-animation="fadeInRight" data-animation-delay="500">Somos um grupo de programadores e empreendedores focados na inovação</p>
			</div><!-- /.SECTION TITLE-->
		</div>
		<div class="row services-top">
			<!-- SERVICES BLOCK-1-->
			<div class="col-sm-6 service-block left">
				<div class="fa fa-lightbulb-o animated" data-animation="pulse" data-animation-delay="300">
					<i class="fa fa-lightbulb-o"></i>
				</div>
				<h4 class="animated" data-animation="fadeInRight" data-animation-delay="500">Transformamos</h4>
				<h3 class="animated" data-animation="fadeInLeft" data-animation-delay="700">Idéias</h3>
				<p class="animated" data-animation="fadeInUp" data-animation-delay="900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et velit a massa vehicula cursus ac ac felis. Praesent posuere.</p>
			</div>
			<!-- SERVICES BLOCK-2-->
			<div class="col-sm-6 service-block">
				<div class="fa fa-graduation-cap animated" data-animation="pulse" data-animation-delay="300">
					<i class="fa fa-graduation-cap"></i>
				</div>
				<h4 class="animated" data-animation="fadeInRight" data-animation-delay="500">Transmitimos</h4>
				<h3 class="animated" data-animation="fadeInLeft" data-animation-delay="700">Conhecimento</h3>
				<p class="animated" data-animation="fadeInUp" data-animation-delay="900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et velit a massa vehicula cursus ac ac felis. Praesent posuere.</p>
			</div>
		</div><!-- /.SERVICES TOP-->
		<!--MIDDLE LINE-->
		<div class="middle-line">
			<span>IF</span>
		</div>
		<!-- SERVICES BOTTOM-->
		<div class="row services-bottom">
			<!-- SERVICES BLOCK-3-->
			<div class="col-sm-6 service-block left">
				<div class="fa fa-group animated" data-animation="pulse" data-animation-delay="300">
					<i class="fa fa-group"></i>
				</div>
				<h4 class="animated" data-animation="fadeInRight" data-animation-delay="500">Compartilhamos</h4>
				<h3 class="animated" data-animation="fadeInLeft" data-animation-delay="700">Vivências</h3>
				<p class="animated" data-animation="fadeInUp" data-animation-delay="900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et velit a massa vehicula cursus ac ac felis. Praesent posuere.</p>
			</div>
			<!-- SERVICES BLOCK-4-->
			<div class="col-sm-6 service-block">
				<div class="fa fa-magic animated" data-animation="pulse" data-animation-delay="300">
					<i class="fa fa-magic"></i>
				</div>
				<h4 class="animated" data-animation="fadeInRight" data-animation-delay="500">Criamos</h4>
				<h3 class="animated" data-animation="fadeInLeft" data-animation-delay="700">Inovação</h3>
				<p class="animated" data-animation="fadeInUp" data-animation-delay="900">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et velit a massa vehicula cursus ac ac felis. Praesent posuere.</p>
			</div>
		</div><!-- /.SERVICES BOTTOM-->
	</div>
</section><!-- /.WE ARE SECTION-->

<!-- WORKING SECTION-->
<section id="contact" class="parallaxbg">
	<div class="pattern-overlay"></div>
	<div class="container">
		<div class="row">
			<!--SECTION TITLE-->
			<div class="col-md-12 title white">
				<h1 class="animated" data-animation="fadeInDown" data-animation-delay="300">Newsletter</h1>
				<p class="animated" data-animation="fadeInRight" data-animation-delay="500">Quer receber nossas últimas notícias? Se increva em nosso newsletter e fique por dentro do que esta acontecendo.</p>
			</div><!-- /.SECTION TITLE-->
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8 animated" data-animation="fadeInUp" data-animation-delay="300">
			<p class="form-message"></p>
				<!--CONTACT FORM-->
				<form role="form" name="commentform" class="contact-form-horizontal" id="contactform" method="post" action="/subscribe">
				<div class="row">
					<div class="col-md-6">
						<!-- NAME -->
						<div class="input-group form-group">
							<input type="text"  name="contact_name" id="contact_name"  class=" form-control input-name" placeholder="Seu Nome">
						</div>
					</div>
					<div class="col-md-6">
						<!-- PHONE NUMBER -->
						<div class="input-group form-group">
							<input type="text" name="contact_phone" id="contact_phone"  class=" form-control input-phone-number" placeholder="Seu Telefone (opcional)">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">	
						<!-- EMAIL -->
						<div class="input-group form-group">
							<input type="email"  name="contact_email" id="contact_email"  class=" form-control input-email" placeholder="E-mail">
						</div>
					</div>
				</div>	
				<div class="col-md-12 form-group has-feedback">
						<!--SUBMIT BUTTON-->
						<input type="submit" id="sendingbtn" class="btn" value="Inscrever-se">
				</form><!-- /.CONTACT FORM-->
			</div>
		</div>
	</div>
	<!--Footer Begins-->
	<div id="footer">
		<div class="container">
			<!--SOCIAL LINKS-->
			<div class="row">
				<!--COPYRIGHTS-->
				<div class="col-sm-6">
					<p>Copyrights Inovation Factory - 2016</p>
				</div>	
				<!--SOCIAL LINKS-->
				<!--<div class="col-sm-6">
					<ul>
						<li><a href="/#" class="fa fa-facebook"></a></li>
						<li><a href="/#" class="fa fa-twitter"></a></li>
						<li><a href="/#" class="fa fa-google-plus"></a></li>
						<li><a href="/#" class="fa fa-youtube"></a></li>
					</ul>
				</div>-->
			</div>	
		</div>	
	</div>
</section>	<!-- /.CONTACT SECTION-->													
<!-- Script Begins -->
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Bootstrap Validator-->
<script type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
<!-- Google-map-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<!--Sticky and Easing js-->
<script src="/lib/jquery.easing/jquery.easing.min.js" type="text/javascript"></script>
<!--Sticky js-->
<script src="/lib/jquery-sticky/jquery.sticky.js" type="text/javascript"></script>
<!--Parallax-->
<script src="/lib/parallax/deploy/jquery.parallax.min.js"></script>
<script src="/js/parallax-bg.js"></script>
<!--Isotope js-->
<script src="/js/isotope.pkgd.min.js" type="text/javascript"></script>
<!-- Appear js -->
<script src="/js/jquery.appear.js" type="text/javascript"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<!--Counter js-->
<script src="/js/jquery.countTo.js" type="text/javascript"></script>
<!--Pretty photo-->
<script src="/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<!-- Bg Slider -->
<script type="text/javascript" src="/js/jquery.superslides.js"></script>
<!-- Typed Js -->
<script type="text/javascript" src="/js/typed.js"></script>
<!-- Video Bg -->
<script type="text/javascript" src="/js/jquery.mb.YTPlayer.min.js"></script>
<!-- Custom Js -->
<script type="text/javascript" src="/js/custom.js"></script>
<!-- /.Script Ends -->
</body>
</html>
