/* =================================================================== 
							CSS Structure 
======================================================================
1. GLOBAL STYLES
   -Common Styles
   -Page Loader	
2. NAVIGATION MENU
3. TEXT SLIDE SECTION
4. WE ARE SECTION
5. FEATURES SECTION
6. COUNTER SECTION
7. TEAM SECTION
8. SKILLS SECTION
9. RESPONSIVE SECTION
10. SERVICES SECTION
11. WORKING SECTION
12. PRICING SECTION
13. TESTIMONIAL SECTION
14. CLIENTS SECTION
15. PORTFOLIO SECTION
    -Hover effects
16. CONTACT SECTION
	-Contact details
	-Map 
	-Footer

/* =================================================================== 
							GLOBAL STYLES
======================================================================*/
body{
	font-family: 'Raleway', sans-serif;
}
section{
	padding:100px 0 50px;
	overflow:visible;
}
h1,h2,h3,h4,h5,h6{
	color: #202020;
	-webkit-font-smoothing:antialiased !important;
}
a:hover, a:focus{
	outline:none;
	text-decoration:none;
}
p,#working .tooltip-inner{
	color: #4c4c4c;
	font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
	line-height:25px;
	-webkit-font-smoothing:antialiased !important;
}
section.color{
	background:#F2F2F2;
}
.color-white-text{
	color: #fff;
}
.container{
	max-width:1170px;
	width:100%;
}
.title{
	text-align:center;
	margin-bottom:80px;
}
.title h1{
    font-size: 36px;
    font-weight: 700;
	margin:0 0 15px;
}
.title h2{
	font-size: 36px;
    font-weight: 300;
	margin:0 0 5px;
}
.title p{
    font-weight: 400;
    letter-spacing: 1px;
	margin:0;
	font-size:14px;
	line-height:27px;
}
.title.white h1,.title.white h2,.title.white p{
	color:#fff;
}
.img-responsive,.thumbnail > img{
	width:100%;
}
.btn{
	border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	-webkit-border-radius:0;
	border:1px solid #fff;
	padding: 10px 25px;
	color:#fff;
	text-transform:uppercase;
}
.btn:hover, .btn:focus, .btn.focus{
	color:#fff;
	background:transparent;
}
.animated {
	visibility:hidden; 
}
.visible {
	visibility:visible;
}
.pattern-overlay{
	background:url(../images/pattern.png) repeat rgba(0,0,0,0.5);
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	top:0;
}
/*---------------Common Styles---------------------*/
.navbar-default,.btn,.we-are-block i,#features i,.contact-details{
	background:#202020
}
.we-are-block:hover i,.we-are-block:hover h2,.we-are-block:hover h3,.btn:hover,#working li:hover,#portfolio .item ul > li i:hover,#features .feature:hover i,#features .feature:hover h3,#team .thumbnail .caption li > a:hover,#footer li > a:hover,.service-block:hover div.fa,.service-block:hover h4,.service-block:hover h3,.service-block:hover i{
	transition:all 0.5s ease 0s;
	-ms-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-webkit-transition:all 0.5s ease 0s;
}

/*---------------Page Loader---------------------*/	

#pageloader {
    background-color:#F2F2F2;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
} 
.loader-item {
    background:url(../images/loader.GIF) no-repeat;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}
.loader-item h2 {
    color: #CCCCCC;
    font-size: 20px;
    margin: 0 auto;
}
.colored-border {
    border-color: #3498db;
}
/* =================================================================== 
						NAVIGATION MENU	
======================================================================*/
.navbar-default{
	border-color: #000000;
	margin-bottom:0;
	z-index: 9999;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #ffffff;
    font-size: 36px;
	text-transform:uppercase;
    font-weight: 700;
	padding: 25px 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:transparent;
}
.navbar-default .navbar-header p{
	color: #ffffff;
	font-size: 13px;
    font-weight: 500;
	letter-spacing: 0;
}
.navbar-default .navbar-nav > li > a{
	color: #cacaca;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
	padding-bottom: 25px;
    padding-top: 25px;
	line-height: 30px;
	outline:none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color:#fff;
	letter-spacing: 1px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background:#202020;
}
.navbar-toggle{
	position:absolute;
	top:15px;
	right:0;
	border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	-webkit-border-radius:0;
}
/* =================================================================== 
						TEXT SLIDER SECTION
======================================================================*/
.text-slider{
	background:url(../images/bg/first.jpg) repeat fixed;
	border-color: #000000;
	position:relative;
	overflow:hidden;
}
.text-slider .slider-container{
	position:absolute;
	right:0;
	left:0;
	top:50%;
	transform:translateY(-50%);
}
.slider-text .item{
	display: block;
	width: 100%;
	height: auto;
}
.slider-text .item h3{
	color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
	text-transform:uppercase;
	margin-bottom:25px;
}
.slider-text .item p{
	color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
	margin-bottom:40px;
}
.owl-pagination{
	text-align:center;
}
.owl-controls .owl-page{
	display:inline-block;
	height:20px;
}
.owl-page > span {
    background:#fff;
    display: block;
    height: 10px;
    margin:0 15px;
    width: 10px;
	border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-webkit-border-radius:50%;
}	
.owl-page.active > span {
    background:#000;
	border:7px solid #fff;
	height:25px;
	width:25px;
	margin:-7px 8px;
}	
.scroll-down{
	text-align:center;
	position:absolute;
	right:0;
	left:0;
	top:110%;
}
.scroll-down > a{
	text-align:center;
	color:#fff;
	font-size:28px;
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	display: inline-block;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

/* ---------------- Background Slider --------------------- */
.text-slider-container p {
    padding: 0 33%;
}
.text-slider-container a.btn i{
	margin-right: 5px;
}
.slides-container{
	z-index: -1;
}
.wide-container{
	height: 700px;
}
.bg-slider{
	position: relative;
}
.z-index-99{
	z-index: 99;
}
.vertical-center-section{
	margin:0;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%);
}
.text-slider-container .element, .typed-cursor{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}
.typed-cursor{
	animation:fadeIn 0.6s alternate infinite;
	-o-animation:fadeIn 0.6s alternate infinite;
	-moz-animation:fadeIn 0.6s alternate infinite;
	-webkit-animation:fadeIn 0.6s alternate infinite;
}
/* -------------- Video Bg ------------------ */
.video-bg{
	min-height: 650px;
	position: realtive;
}
.text-slider.video-bg-section{
	background-image: none;
}
.video-bg .movie{
	z-index: -1;
}
/* =================================================================== 
						WE ARE SECTION
======================================================================*/
#we-are .title{
	margin-bottom:128px;
}
#we-are .title p{
	margin:0;
}
.we-are-blockh4{
	font-size: 24px;
    font-weight: 300;
    text-align: left;
	margin:2px 0 8px;
}
.we-are-block h3{
	font-size: 24px;
    font-weight: 700;
    text-align: left;
	margin:0 0 10px;
}
.we-are-block p{
	margin: 18px 0 50px;
}
.we-are-block i,#features i{
	font-size:50px;
	text-align:center;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
    color: #fff;
    height: 70px;
    padding: 12px 0;
    width: 70px;
	position:relative;
}
.we-are-block i:after,#features i:after{
	content:"";
	background-color: #cacaca;
    height: 60px;
    position:absolute;
    width: 1px;
	right:-16px;
	top:5px;
}
.icon-title{
	display:inline-block;
	margin-left:29px;
}

/* =================================================================== 
						FEATURES SECTION
======================================================================*/
#features .title{
	margin-bottom:95px;
}
#features .features-left,#features .features-right{
	width:35%;
	padding:50px 15px;
	float:left;
}
#features .features-image{
	width:30%;
	padding:0 15px;
	float:left;
} 
#features .features-left{
	text-align:right;
}
#features .features-right{
	text-align:left;
}
#features .features-left .feature-icon{
	float:right;
}
#features .features-right .feature-icon{
	float:left;
}
#features .feature{
	margin-top:75px;
}
.features-title{
	display:table;
}
#features h3{
	font-size: 23px;
    font-weight: 700;
	margin: 0 0 6px;
}
#features .features-left i{
	margin:5px 0 0 25px;
}
#features .features-left i:after{
	left:-14px;
	background:#4c4c4c;
}
#features .features-right i{
	margin:5px 25px 0 0;
}
#features .features-right i:after{
	right:-14px;
	background:#7c7c7c;
}
/* =================================================================== 
						COUNTER SECTION
======================================================================*/
#counter{
	background:url(../images/bg/counter.jpg) fixed;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
}
.counter-section{
	position:relative;
	padding:100px 0 60px;
}
.counter-section .counter,.counter-section i,.counter-section p{
	color:#fff;
	text-align:center;
}
.counter-section i{
	font-size:75px;
	display:block;
}
.counter-section .counter{
	font-size: 60px;
    font-weight: 500;
}
.counter-section p{
	font-size: 24px;
    font-weight: 700;
	margin-bottom:50px;
}
/* =================================================================== 
						TEAM SECTION
======================================================================*/
#team .title{
	margin-bottom:75px;
}
#team .thumbnail{
	border:none;
	padding:0;
	position:relative;
	margin-bottom:75px;
}
#team .thumbnail h3{
	font-size: 24px;
	margin-bottom: 0;
    margin-top: 10px;
}
#team .thumbnail p{
	color:#000;
	line-height: 25px;
}
#team .thumbnail img{
	position: relative;
    z-index: 99;
}
#team .thumbnail .caption{
	background-color: #fff;
	position:absolute;
	top:100%;
	right:0;
	left:0;
	text-align:center;
    border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	min-height: 188px;
	content: attr(data-hover);
	-webkit-transform: rotateX(240deg);
	-moz-transform: rotateX(240deg);
	transform: rotateX(240deg);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	z-index:0;
}
#team .thumbnail:hover .caption,#team .thumbnail .caption:hover{
	-webkit-transform: rotateX(-10deg);	
	-moz-transform: rotateX(-10deg);
	transform: rotateX(-10deg);
	border: 1px solid;
	border-top:5px solid;
}
#team .thumbnail .caption ul{
	padding:0;
	margin:18px 0;
}
#team .thumbnail .caption li{
	display:inline-block;
	font-size:18px;
	margin:0 5px;
}
#team .thumbnail .caption li > a{
	color:#000;
}
#team .thumbnail .caption li > a.fa-facebook:hover{
	color:#3B5998;
}
#team .thumbnail .caption li > a.fa-twitter:hover{
	color:#5EA9DD;
}
#team .thumbnail .caption li > a.fa-google-plus:hover{
	color:#DD4B39;
}
#team .thumbnail .caption li > a.fa-youtube:hover{
	color:#C2191E;
}
/* =================================================================== 
						SKILLS SECTION
======================================================================*/
#skills .title{
	margin-bottom:60px;
}
#skills p{
	margin-bottom:0;
}
.progress{
	border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
    box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	height:13px;
	background:#fff;
	border:1px solid #000;
	margin-bottom:35px;
	overflow:visible;
}
.progress-bar{
	background:#000;
	position:relative;
}
.progress .tooltip{
	opacity:1;
	right: -20px;
    top: -40px;
	font-family:inherit;
}
.progress .tooltip-inner{
	padding: 6px 10px;
	border-radius: 0;
}
/* =================================================================== 
						RESPONSIVE SECTION
======================================================================*/
#responsive{
	background:url(../images/bg/responsive.jpg) fixed;
	padding:0;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
}
.responsive-section{
	position:relative;
	padding:100px 0;
}
#responsive div{
	z-index:9;	
}
#responsive h2{
	font-size: 48px;
	color:#fff;
	font-weight: 700;
	line-height: 58px;
}
#responsive p{
	color:#fff;
	margin-bottom:25px;
}
#responsive img{
	margin-top: 35px;
}
/* =================================================================== 
						SERVICES SECTION
======================================================================*/
#services .title{
	margin-bottom:80px;
}
.service-block{
	text-align:center;
	padding:95px 37px 40px;
}
.services-bottom .service-block{
	padding-top:60px;
}
.service-block div.fa{
	color:#F2F2F2;
	font-size:120px;
	position:relative;
}
.service-block i.fa{
	color: #000;
    display: block;
    font-size: 75px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
}
.service-block h4{
	font-size: 26px;
    font-weight: 300;
}
.service-block p{
	font-size:14px;
}
.services-bottom .service-block p{
	margin-bottom:60px;
}
.service-block h3{
	font-size: 26px;
    font-weight: 700;
	margin:0 0 20px;;
}
.services-top,.services-bottom{
	margin-left:110px;
	margin-right:110px;
}
.service-block.left{
	border-right:2px solid;
}
.middle-line{
	background: none repeat scroll 0 0 transparent;
    border-top: 2px solid;
    height: 0px;
    margin: 0 110px;
    position: relative;
}
.middle-line:before,.middle-line:after,.services-top .service-block.left:before,.services-bottom .service-block.left:after{
    border-radius: 50%;
    content: "";
    height: 20px;
    position: absolute;
    width: 20px;
	left:0;
	margin-top:-10px;
}
.middle-line:after{
	left:auto;
	right:-1px;
	top:0;
}
.services-top .service-block.left:before,.services-bottom .service-block.left:after{
	left:auto;
	right:-11px;
	top:0;
}
.services-bottom .service-block.left:after{
	top:auto;
	bottom:0;
}
.middle-line > span{
	color: #fff;
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -18px;
    width: 100%;
    z-index: 9;
}
.middle-line > span:before{
	content: "";
    height: 50px;
    left: -1px;
    margin: -8px auto 0;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    width: 50px;
    z-index: -1;
}

/* =================================================================== 
						CONTACT SECTION
======================================================================*/
#contact{
	background:url(../images/bg/newsletter.jpg)fixed;
	padding-bottom:0;
	position:relative;
}
.input-group{
	width:100%;
}
.form-group{
	margin-bottom:30px;
}
.form-control{
	background-color:transparent;
	border:none;
	border-bottom:1px solid #fff;
	border-color:#fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	color:#fff;
	border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
}
.form-control::-moz-placeholder{
	color:#fff;
}
.form-control:focus,.has-error .form-control:focus,.has-success .form-control:focus{
	box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	font-style:normal;
}
.has-error .form-control:focus,.has-error .form-control{
	border-color: #a94442;
}
#contact .btn{
	margin:25px 0 60px;
	float:right;
	background:transparent;
	font-weight:700;
	font-size:18px;
	padding: 10px 80px;
	text-transform:none;
}
.message-box i{
	padding-right:37px;
}

.form-message{
	color: white;
}
.form-msg{
	background-color: #3b5a3b;
	padding: 14px;
}

.form-msg-error{
	background-color: red;
	padding: 14px;
}



/*==================Contact details====================*/
.contact-details{
	padding:50px 20px;
	background:#171717;
	text-align:center;
	position:relative;
}
.contact-details .icon-circle{
	position:relative;
	background-color: #ffffff;
    border:1px solid #000000;
	width: 70px;
	height:70px;
	border-radius: 50%;
	padding: 18px 0;
	margin:0 auto;
	color:#000;
	overflow:hidden;
}
.contact-block:hover .icon-circle{
	color:#fff;
}
.contact-block{
	margin-bottom:30px;
}
.contact-block i{
	font-size:34px;
    position:absolute;
	left:0;
	right:0;
	display:block;
}
.contact-block:hover i{
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}
@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
.contact-details h3{
	font-size: 28px;
    font-weight: 400;
	color:#fff;
	margin-bottom:15px;
}
.contact-details p,.contact-details p a{
	color:#fff;
	font-size:14px;
	line-height:14px;
}

/*===================Map==========================*/
.map #map_canvas {
    height: 240px;
    width: 100%;
}

/*===================Footer======================*/
#footer{
	background:#171717;
}
#footer p{
	color:#fff;
	margin:32px 0;
	font-size:14px;
}
#footer ul{
	float: right;
    margin: 0;
    padding: 24px 0;
    text-align: center;
}
#footer li{
    display: inline-block;
    font-size: 24px;
    padding: 0 5px;
}
#footer li > a {
	color: #fff;
	background:#4a4a4a;
	height:40px;
	width:40px;
	border-radius:50%;
	padding:8px 0;
}
#footer a.fa-facebook:hover{
	background:#3B5998;
}
#footer a.fa-twitter:hover{
	background:#5EA9DD;
}
#footer a.fa-google-plus:hover{
	background:#DD4B39;
}
#footer a.fa-youtube:hover{
	background:#C2191E;
}
